In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np
import math

from numpy import unique
from numpy import where
from matplotlib import pyplot

data = arff.loadarff('./DefectData/inst/extdata/kim/eclipse34_swt.arff') 
df = pd.DataFrame(data[0])

In [2]:
df.head()

,LOC,AverageComplexity,MaximumComplexity,LCOM,DIT,IFANIN,CBO,NOC,RFC,NIM,NIV,NCM,NCV,WMC,change_times,plus,minus,isDefective
0,241.0,1.0,3.0,0.0,1.0,1.0,22.0,0.0,24.0,0.0,0.0,24.0,0.0,24.0,4.0,5.0,40.0,b'TRUE'
1,209.0,1.0,3.0,0.0,1.0,1.0,21.0,0.0,23.0,0.0,0.0,23.0,0.0,23.0,2.0,3.0,50.0,b'TRUE'
2,172.0,2.0,7.0,93.0,1.0,1.0,39.0,0.0,16.0,0.0,0.0,16.0,1.0,16.0,25.0,281.0,564.0,b'TRUE'
3,117.0,1.0,1.0,71.0,1.0,1.0,8.0,0.0,7.0,7.0,4.0,0.0,0.0,7.0,7.0,25.0,92.0,b'TRUE'
4,70.0,1.0,3.0,87.0,1.0,1.0,5.0,0.0,8.0,1.0,0.0,7.0,1.0,8.0,7.0,164.0,145.0,b'TRUE'

In [3]:
x = df.drop(['isDefective'],axis = 'columns')
x.head()

,LOC,AverageComplexity,MaximumComplexity,LCOM,DIT,IFANIN,CBO,NOC,RFC,NIM,NIV,NCM,NCV,WMC,change_times,plus,minus
0,241.0,1.0,3.0,0.0,1.0,1.0,22.0,0.0,24.0,0.0,0.0,24.0,0.0,24.0,4.0,5.0,40.0
1,209.0,1.0,3.0,0.0,1.0,1.0,21.0,0.0,23.0,0.0,0.0,23.0,0.0,23.0,2.0,3.0,50.0
2,172.0,2.0,7.0,93.0,1.0,1.0,39.0,0.0,16.0,0.0,0.0,16.0,1.0,16.0,25.0,281.0,564.0
3,117.0,1.0,1.0,71.0,1.0,1.0,8.0,0.0,7.0,7.0,4.0,0.0,0.0,7.0,7.0,25.0,92.0
4,70.0,1.0,3.0,87.0,1.0,1.0,5.0,0.0,8.0,1.0,0.0,7.0,1.0,8.0,7.0,164.0,145.0

In [4]:
x.shape

(1485, 17)

In [5]:
from sklearn.preprocessing import MinMaxScaler

scalar = MinMaxScaler()
scalar.fit(x)
x = scalar.transform(x)

In [6]:
x = pd.DataFrame(x)
x.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.015640,0.038462,0.009524,0.00,0.020408,0.2,0.064140,0.0,0.005654,0.000000,0.000000,0.010063,0.000000,0.010063,0.001731,0.000099,0.000675
1,0.013546,0.038462,0.009524,0.00,0.020408,0.2,0.061224,0.0,0.005418,0.000000,0.000000,0.009644,0.000000,0.009644,0.000577,0.000059,0.000843
2,0.011125,0.076923,0.022222,0.93,0.020408,0.2,0.113703,0.0,0.003769,0.000000,0.000000,0.006709,0.000116,0.006709,0.013849,0.005556,0.009510
3,0.007526,0.038462,0.003175,0.71,0.020408,0.2,0.023324,0.0,0.001649,0.012367,0.007692,0.000000,0.000000,0.002935,0.003462,0.000494,0.001551
4,0.004450,0.038462,0.009524,0.87,0.020408,0.2,0.014577,0.0,0.001885,0.001767,0.000000,0.002935,0.000116,0.003354,0.003462,0.003243,0.002445

In [7]:
from sklearn.cluster import KMeans

kmeans_model = KMeans(n_clusters = 2)
kmeans_model.fit(x)

kmeans_prediction = kmeans_model.predict(x)
x['cluster'] = kmeans_prediction

kmeans_prediction[:5]

array([0, 0, 1, 1, 1], dtype=int32)

In [8]:
def ASFM(DataFrame):
    SFM = 0
    
    x,y = DataFrame.shape
    
    for i in range(x):
        for j in range(y-1):
            SFM += DataFrame.iloc[i,j]
    
    return SFM/x

In [9]:
df0 = x[x.cluster==0]
df1 = x[x.cluster==1]

In [10]:
ASFM0 = ASFM(df0)
ASFM1 = ASFM(df1)

print(f"ASFM0 : {ASFM0}")
print(f"ASFM1 : {ASFM1}")

ASFM0 : 0.37256051411904617
ASFM1 : 1.8125463051474042

In [15]:
#ASFM0 value is greater than ASFM1, so label 1 will represent defected software and 0 represents non-defected 
#software



TP = 0
FN = 0
TN = 0
FP = 0


for i in range(1485):
    
    defect = df.iloc[i,17]
    buggy = b'FALSE'
    clean = b'TRUE'
    
    if defect == buggy and kmeans_prediction[i]==0:
        TP += 1
    elif defect == buggy and kmeans_prediction[i]==1:
        FN += 1
    elif defect == clean and kmeans_prediction[i]==1:
        TN += 1
    else:
        FN += 1

In [16]:
#Matthew Correlation Coefficient

MCC = (TP*TN-FP*FN)/math.sqrt((TP+FP)*(TP+FN)*(TN+FP)*(TN+FN))

accuracy = (TP+TN)/len(df)

print(f"MCC : {MCC}")
print(f"Accuracy : {accuracy}")

MCC : 0.3507188989159015
Accuracy : 0.5643097643097643

In [17]:
from sklearn.cluster import AgglomerativeClustering

ag_model = AgglomerativeClustering(n_clusters = 2)

x = x.drop(['cluster'],axis = 'columns')
ag_model.fit(x)
ag_prediction = ag_model.labels_
x['cluster'] = ag_prediction

ag_prediction[:5]

array([1, 1, 0, 0, 0])

In [18]:
df0 = x[x.cluster==0]
df1 = x[x.cluster==1]

In [19]:
ASFM0 = ASFM(df0)
ASFM1 = ASFM(df1)

print(f"ASFM0 : {ASFM0}")
print(f"ASFM1 : {ASFM1}")

ASFM0 : 1.7905498051215682
ASFM1 : 0.36800904239128257

In [20]:
#ASFM0 value is greater than ASFM1, so label 1 will represent defected software and 0 represents non-defected 
#software



TP = 0
FN = 0
TN = 0
FP = 0


for i in range(1485):
    
    defect = df.iloc[i,17]
    buggy = b'FALSE'
    clean = b'TRUE'
    
    if defect == buggy and ag_prediction[i]==0:
        TP += 1
    elif defect == buggy and ag_prediction[i]==1:
        FN += 1
    elif defect == clean and ag_prediction[i]==1:
        TN += 1
    else:
        FN += 1

In [21]:
#Matthew Correlation Coefficient
import math

MCC = (TP*TN-FP*FN)/math.sqrt((TP+FP)*(TP+FN)*(TN+FP)*(TN+FN))

accuracy = (TP+TN)/len(df)

print(f"MCC : {MCC}")
print(f"Accuracy : {accuracy}")

MCC : 0.26267900796080235
Accuracy : 0.43434343434343436